[Unit]
Description=Ssh Password Pot
After=network.target postgresql.service nginx.services
Requires=postgresql.service nginx.services

[Service]
Type=simple
User=www-data
EnvironmentFile=/etc/default/ssh-password-pot
TimeoutStartSec=0
Restart=always
ExecStart=/usr/local/bin/ssh-password-pot server $OPTS
Restart=on-abort

[Install]
WantedBy=multi-user.target
