[Unit]
Description=Ssh Password Pot
After=network.target postgresql.service
Requires=postgresql.service

[Service]
Type=simple
User=www-data
EnvironmentFile=/etc/default/ssh-passwd-pot
TimeoutStartSec=0
Restart=always
ExecStart=/usr/local/bin/ssh-passwd-pot server $OPTS
Restart=on-abort

[Install]
WantedBy=multi-user.target
